<div class="content">
  <%= render_component("breadcrumbs", @home.breadcrumbs ) %>
  <div class="title">
    <h1>Mount Everest, also known in Nepal as Sagarmāthā and in Tibet as Chomolungma, is Earth's highest mountain</h1>
  </div>
  <%= render_component "video", @home.video %>
  <%= render_component("social_media_icons", @home.social_links) %>
  <div class="content__description">
    <p>
      It is located in the Mahalangur section of the Himalayas. Its peak is 8,848 metres (29,029 ft) above sea level and is the 5th furthest summit from the center of Earth. The international border between China and Nepal runs across the precise summit point. Its massif includes neighboring peaks Lhotse, 8,516 m (27,940 ft); Nuptse, 7,855 m (25,771 ft) and Changtse, 7,580 m (24,870 ft).
    </p>
    <p>
      In 1856, the Great Trigonometrical Survey of India established the first published height of Everest, then known as Peak XV, at 29,002 ft (8,840 m). The current official height of 8,848 m (29,029 ft) as recognized by China and Nepal was established by a 1955 Indian survey and subsequently confirmed by a Chinese survey in 1975. In 1865, Everest was given its official English name by the Royal Geographical Society upon a recommendation by Andrew Waugh, the British Surveyor General of India. Waugh named the mountain after his predecessor in the post, Sir George Everest, arguing that there were many local names, against the opinion of Everest.
    </p>
  </div>
  <div class="comments">
    <h4>Comments</h4>
    <% @home.comments.each do |comment| %>
      <%= render_component "comment", comment %>
    <% end %>
  </div>

</div>
<div class="sidebar">
  <h2>More mountains</h2>
  <% @home.mountains.each do |mountain| %>
    <%= render_component "card", mountain %>
  <% end %>
</div>